{{!-- index.hbs --}}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles.css">
<body>
    <div>
    <form>
        <select id="mySelect">
        {{#each sites}}
            <option>{{name}}</option>
        {{/each}}
        </select>
    </form>
    </div>
</body>
</html>
